$cor-azul: #0067f4;
$cor-branca: #fff;
$efeito-box-shadow: 2px 0px 20px 6px rgba(170, 170, 170, 0.72);
$cor-botao1: #33c8c1;
$cor-botao2:  #119bd2;
$cor-azul-escura: #0051c2;
$w100: 100%;
$h150vh: 150vh;
$w50: 50%;
$w33: 33%;
$h50: 50%;
$color-nav:  #039be5;
$cinza-fondao: #2E2E2E;
$cor-rosa: #fe6e9a;
$cor-cinza-ligth: #cccc;

$cor-azul-btn: #002d6d;